# ValidationResult

## Enum


* `Ok` (value: `0`)

* `Invalid` (value: `1`)

* `Expired` (value: `2`)

* `TariffLimit` (value: `3`)

* `UserExisted` (value: `4`)

* `UserExcluded` (value: `5`)

* `QuotaFailed` (value: `6`)


[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


